/*
	Monochromed by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

@charset 'UTF-8';

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background: #090909;
	}

	body,input,textarea,select
	{
		font-family: 'Oxygen', sans-serif;
		font-size: 13pt;
		line-height: 2em;
	}

	h1,h3,h4,h6
	{
		font-weight: bold;
	}

	h5
	{
		padding-top: 1em;
		padding-bottom: 0.50em;
		font-weight: bold;
		font-size: 18pt;
	}

	h7
	{
		letter-spacing: -1px;
		font-size: 32pt;
		font-weight: 700;
		line-height: 1;
		color: #ff0000;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			color: inherit;
			text-decoration: none;
		}

	/* Change this to whatever font weight/color pairing is most suitable */
	strong, b
	{
		font-weight: bold;
		color: #000000;
	}

	em, i
	{
		font-style: italic;
	}

	/* Don't forget to set this to something that matches the design */
	a
	{
		color: #ff0000;
	}

	.aPaper
	{
		color: #ff0000;
		font-weight: bold;
		font-size: 18pt;
	}

	a:hover
	{
		text-decoration: none;
	}

	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table
	{
		margin-bottom: 1em;
		/* font-size: 11pt Default size */
		font-size: 12pt
	}

	header
	{
	}

		header h2
		{
			letter-spacing: -1px;
			font-weight: 700;
			line-height: 1;
		}

		header h7
		{
			letter-spacing: -1px;
			font-size: 32pt;
			font-weight: 700;
			line-height: 1;
			color: #ff0000;
		}

		header .byline
		{
			display: block;
			text-transform: uppercase;
		}

	footer
	{
		margin-top: 1em;
	}

	br.clear
	{
		clear: both;
	}

	.videocontainer {
	    position: relative;
	    width: 100%;
	    height: 0;
	    padding-bottom: 56.25%;
	}
	.video {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

	/* Buttons */

		.button
		{
			position: relative;
			display: inline-block;
			margin-top: 2em;
			padding: 0.8em 1.5em;
			background: #1d1d1d;
			border-radius: 6px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1em;
			color: #FFF;
			-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			cursor: pointer;
		}

			.button:hover
			{
				background: #141414;
				color: #FFF !important;
			}


	/* Sections/Articles */

		section,
		article
		{
			margin-bottom: 3em;
		}

		section > :last-child,
		article > :last-child
		{
			margin-bottom: 0;
		}

		section:last-child,
		article:last-child
		{
			margin-bottom: 0;
		}

		.row > section,
		.row > article
		{
			margin-bottom: 0;
		}

	/* Images */

		.image
		{
			display: inline-block;
		}

			.image img
			{
				display: block;
				width: 100%;
				border-radius: 6px;
			}

			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}

			.image.full
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}

			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
				width: 30%;
				height: auto;

			}
			.image.right
			{
				float: right;
				margin: 0 1em 2em 0;
				width: 20%;
				height: auto;

			}
			.image.rightsmall
			{
				float: right;
				margin: 0 1em 2em 0;
				width: 15%;
				height: auto;

			}

			.image.tall
			{
				float: left;
				margin: 0 2em 2em 0;
				width: 20%;
				height: auto;

			}


			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

	/* Lists */

		ul.default
		{
			list-style: none;
			margin: 0;
			padding: 0;
		}

			ul.default li
			{
				padding: 0.50em 0em;
			}

		ul.style1
		{
			font-size: 0.90em;
		}

			ul.style1 li
			{
				padding: 0.80em 0em;
				line-height: 1.8em;
			}

			ul.style1 li img
			{
				float: left;
				margin-right: 1.50em;
				border-radius: 6px;
			}

			ul.style1 .posted
			{
				display: block;
				margin-top: 1em;
				padding: 0.50em 0em;
			}

			ul.content
			{
				list-style: square;
				padding-left: 3em;
			}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		/* background: #ddd url(../images/header.jpg) no-repeat center; */
		background: #ddd url(../images/la_crop.jpg) no-repeat center;

		background-size: cover;
	}

	#logo
	{
	}

	#nav
	{
	}

		#nav ul
		{
			margin: 0;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		background: #333;
		color: #fff;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		position: relative;
		background: #fff url(images/overlay.png) repeat;
	}

	.divider
	{
		overflow: hidden;
		border-top: 1px solid #dbdbdb;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		position: relative;
		background: #121212;
		color: rgba(255,255,255,.4);
	}

	#footer header h2
	{
		color: #FFF;
	}

/*********************************************************************************/
/* Table                                                                       */
/*********************************************************************************/
#table
{
	/* border: 1px solid #000000; */
  /* width: 100%;
  text-align: center;
	padding: 5px 5px;
  border-collapse: collapse; */
}

#table td
{
	border: 1px solid #000000;
	/* width: 50%; */
  text-align: left;
	padding: 10px 10px;
  border-collapse: collapse;

}

.thead
{
	background: #CFCFCF;
}

.tday
{
	background: #000000;
	color: #FFFFFF;
	font-weight:bold;
}

/*********************************************************************************/
/* Video                                                                       */
/*********************************************************************************/
#vid
{

}
.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		position: relative;
		padding: 3em 0em;
		text-align: center;
		color: rgba(255,255,255,.2);
	}

	#copyright .container
	{
	}

	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,.3);
	}
